page-innovations {
    #feature {
        height: 200px;
        background-color: #efefef;
        background-size: cover;
        background-position: top center;
        border: none;
    }

    ion-badge {
        margin-left: 10px;
        font-size: 0.8em;
    }
}
