page-home {
    // .background {
    //     background: #e8e8e8;
    // }

    .time {
        color: #a0a0a0;
        font-size: 0.8em;
    }

    ion-card {
        position: relative;
        text-align: center;
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        font-size: 1.0em; 
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }

      .count {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #c32325;
        border-radius: 50%;
        font-weight: bold;
      }
}
